@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: #ffde37;
  background: #181818;
  text-transform: uppercase;
  font-family: "Helvetica Neue", -apple-system, Ubuntu, sans-serif;
  font-size: 15px;
}
