@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: #ffde37;
  background: #181818;
  transition: color 0.5s, background-color 0.5s;
  text-transform: uppercase;
  font-family: "Helvetica Neue", -apple-system, Ubuntu, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
